body {
    font-family: 'Arial', sans-serif;
    height: 100vh;
    margin: 0;
    background-color: #16294a;
}

.dartboard {
    float: left;
    width: 40%;
    height: 70vh;
    overflow: hidden;
    text-align: center;
}

#board{
    width: 100%;
    height: fit-content;
    margin-bottom: 2rem;
}


