body {
    font-family: 'Arial', sans-serif;
    height: 100vh;
    margin: 0;
    background-color: #16294a;
}

.game{
    display: grid;
    grid-template-columns: 40% 60%;

}

.dartboard {
    float: left;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    text-align: center;
    max-width: 604px;
}

#board{
    width: 100%;
    max-width: 604px;
    height: fit-content;
    margin-bottom: 2rem;
}

.players{
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    justify-items: center;
}

.current{
    width: 30px;
    height: 30px;
    background-color: red;
}
